
@import url(//db.onlinewebfonts.com/c/416ff9cebc6b09a8d7c97e7d6e632cb9?family=Graphik+LC+TT+Thin);
*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    
}
.header-menu{
    padding: 34px 51px 33px 51px;
   
}
    


.menu{
display: flex;
   
   justify-content: space-between;
   flex-wrap: wrap;
    align-items: center;
   
   
}
.block-menu{
    display: flex;
    /* padding-left: 51px; */
   
}
.heder-link{
    display: flex;
    margin-top: 5px;

}
.img-logo{
    float: left;
    /* align-items: center; */

    
}
.link-1{
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin: 21px;
    
}
.btn{
    margin-bottom: 5px;
}

.link-btn-1{
    padding: 9px 36px; 
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-left: 305px;
   
}
.link-btn-2{
padding: 10px 21px; 
color: white;
background: #FF6336;
font-size: 16px;
font-weight: 600;
margin-left: 10px;

}

hr{
    border: 1px solid #CCCCCC;
}
.aside{
    padding: 70px 67px 65px 51px;
}
.accelerate{
    display: flex;
    justify-content: space-around;
    
}
h1{
    font-size: 65px;
    font-weight: 600;
    padding: 51px;
}
.txt-1{
    font-size: 25px;
    font-weight: 400;
    padding: 0px 0 50px 51px;
}
.btn34{
    padding-top: 25px;
}
.link-btn-3{
    padding: 20px 42px; 
    color: white;
background: #FF6336;
font-size: 16px;
font-weight: 600;
margin-left: 51px;
   
}
.link-btn-4{
padding: 18px 29px; 
border: 1px solid #000;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-left: 10px;
}

    
.txt-2{
    font-size: 15px;
    font-weight: 400;
    padding: 40px 51px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
}
.bg{
    background:#FF9C7D;
    
    padding: 60px 51px 10px 51px;
    /* padding: 20px 65px; */
}
.bg-2{
    /* border: 1px solid black; */
    margin: 5px 0 60px 0;
}

h2{
    /* padding-top: 98px; */
    text-align: center;
    font-weight: 600;
font-size: 50px;
line-height: 60px;

}
.logs{
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px 
    
}
.logs-1{
    margin: 50px;
}
.control{
    padding: 100px 75px 250px 20px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    flex-wrap: wrap;

}
.txt3{
    margin-right: 141px;
}
h3,h4{
    margin-top: 151px;
    font-weight: 600;
font-size: 50px;
line-height: 60px;

}
.txt-4{
    margin-top: 30px;
    font-weight: 400;
font-size: 20px;
line-height: 30px;
}
.txt-5{
    font-weight: 600;
font-size: 20px;
line-height: 30px;
margin-top: 50px;
color: #000;
line-height: 50px;
}
.shorten{
    display: flex;
    /* align-items: center; */
}
.What{
    padding: 98px 40px 80px 54px;
    background: #FFF8E4;
    /* display: flex; */
    
}
.block-what{
    /* padding-bottom: 853px; */
    align-items: center;
    /* display: flex; */
}
/* .picto{
    margin-top: 79px;
} */
.pictos{
    display: flex;
    justify-content: space-between;
    padding: 79px 117px 54px 117px;
    flex-wrap: wrap;
}

h5{
font-weight: 600;
font-size: 25px;
line-height: 35px;
}
.img2{
    margin-top: 57px;
}
.boost{
    padding: 98px 40px 80px 54px;
}

.link{
    margin-top: 25px;
    display: block;
    color: #000;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 400;
}
.txt-6{
    font-weight: 400;
font-size: 20px;
line-height: 30px;
margin-top: 34px;
}
.txt-7{
    font-weight: 400;
font-size: 18px;
line-height: 25px;
}
.Managers{
    margin-top: 45px;
}
.Developers{
    margin-top: 80px;
}
.Translators{
    margin-top: 58px;
}
.Lokalise{
    padding: 60px 75px 104px 75px;
    background: #C9E8F2;
    display: flex;
}
.Lokalise-txt{
    font-weight: 400;
font-size: 30px;
line-height: 40px;
}
.Edward{
font-weight: 400;
font-size: 15px;
line-height: 25px;
margin-top: 23px;
}
.man{
    margin-left: 100px;
}
.most{
    padding: 89px 75px 140px 105px;
    background: #DABC98;
    display: flex;
}
.most-txt{
    font-weight: 600;
font-size: 50px;
line-height: 60px;
margin-left: 67px;
margin-top: 30px;

}
/* .most-txt::after{
    content:counter(hr);

} */
.line{
    width: 1px;
    height: 170px;
    background: #000;
    margin-left: 125px;
}
.star{
    padding: 71px;
    display: flex;
    
}
.star2{
    margin-left: 70px;
}
.Integrate{
    padding: 169px 249px 130px 250px;
}
.Integrate-txt{
    font-weight: 600;
font-size: 65px;
line-height: 75px;
text-align: center;
}
.Automate{
    font-weight: 400;
font-size: 25px;
line-height: 30px;
/* or 120% */

text-align: center;

}
.btn5{
 /* margin-left: 400px; */
  justify-content: center; 
  display: flex;

    
    
}

.link5{
    font-weight: 600;
font-size: 16px;
line-height: 60px;
color: #ffff;
padding: 15px 10px;
background: #FF6336;
/* display: block; */

}
.Localization{
    padding: 120px 325px 150px 325px;
    background: #FF9C7D;
    
}
.Try{
    font-weight: 400;
font-size: 20px;
line-height: 30px;
margin-top: 29px;

text-align: center;
}
.btn6{
    margin-top: 29px;
    display: flex;
    justify-content: center;
    
   
}
/* .block-loc{
    align-items: center;
} */

.link-btn6{
padding: 22px 40px; 
color: white;
background: black;
font-size: 16px;
font-weight: 600;
/* margin-left: 10px; */
justify-content: center;
display: block;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 97px 141px 0px 75px; 
    
}
.Case1 {
font-weight: 600;
font-size: 40px;
line-height: 50px;
margin-bottom: 30px;
}
.sp1{
    margin-top: 39px;
}
.Riding{
    margin-top: 11px;
    font-weight: 400;
font-size: 20px;
line-height: 30px;
}
  .txt11{font-weight: 600;
    font-size: 20px;
    line-height: 25px;
margin-top: 15px;
}  

.link10{
    
    font-weight: 400;
font-size: 15px;
line-height: 15px;
margin-top: 15px;

}
.footer-link{
    margin-top: 21px;
}
.link12{
    color: #000;
}
.txt9{
    font-weight: 600;
font-size: 20px;
line-height: 25px;
}
.line2{
    /* width: 1000px; */
    height: 1vh;
    color: #000;
    padding: 50px 141px 50px 75px; ;
}
.Localizatio{
    
margin-left: 10px;
}
.end{
    padding: 0px 151px 50px 75px;
    display: flex;
    justify-content: space-between;

}
.Localization1{
    
   font-weight: 400;
font-size: 12px;
line-height: 15px;
}
.rekv{
    display: flex;
}


    
