
*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}.head-section{
    background: #E5E5E5;
    

}

.container{
    max-width: 1200px;
    background: #E5E5E5;
    margin: auto;
}
.menu,.main-btn{
    display: inline-block;
    margin: 0 15px;
    margin-top: 17px;
    margin-bottom: 16px;
    font-size: 14px;
   }
 
ul{
    text-align: center;
}

.link{
    color: black;    
}
.rekvizit{
    background: #ffff;

}
.rekvizit-1{
    padding-left: 405px;
    background: #ffff;
    padding-top: 20px;
    padding-right: 405px;
}
.logo{
    display: inline-block;
}


.tel_btn{
    
    display: inline-block;
    
    float: right;
    padding-top: 20px;
}
a{
    color: #000;
}
.btn1{
    width: 170px;
    height: 40px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    background: #ffff;
    margin-left: 40px;
    font-size: 14px;

}
hr{
  border: 1px solid #EFEFEF;  
  margin-top: 40px;
}

.menu-1{
    display: inline-block;
    margin-top: 30px;
    margin: 30px;
    
}
.link-1{
    font-size: 16px;

}
.bg{
    margin-top: 30px;
    /* width: 1920px; */
    height: 604px;
    background: url(../images/bg.png);
    color: #ffff;
    padding-top: 286px;
    padding-left: 405px;

}
h1{
    font-size: 48px;
    
}
.txt{
    font-size: 14px;
    margin-top: 50px;
}
.btn-2 {
    width: 170px;
    height: 40px;
    border: 2px solid #ffff;
    border-radius: 40px;
    background: #F13C6E;
    margin-left: 40px;
    font-size: 14px;
    color: #ffff;
margin-top: 50px;
}
.txt2{
    color: #ffff;
    
}
    

section{
    background: #E5E5E5;
   }
   .goods{
       padding: 80px 0;
   }
   .section-header{
       margin-bottom: 40px;
   }
   .item{
       background: white;
       display: inline-block;
       padding: 25px 30px;
       margin: 0 15px;
   }
   .item-image{
       text-align: center;
       margin-bottom: 20px;
   }
   .item-image img{
       width: 125px;
   }
   .item-description p{
       font-size: 14px;
       width: 195px;
       text-align: center;
       line-height: 1.5;
   }
   .item-price{
       margin: 20px 0;
   }
   .price{
       text-align: center;
       font-size: 21px;
       font-weight: 700;
   }
   .bye-btn button{
       margin: auto;
       display: block;
       border-radius: 30px;
       background: #F13C6E;
       font-size: 14px;
       padding: 9px 40px;
       border: none;
       color: white;
   }