@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Josefin+Sans:wght@600;700&family=Open+Sans:wght@400;600;700&family=Poppins&display=swap');
@import 'variable';
@import 'mixins';
@import 'variable';

*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

.header-section {
    padding: 60px 147px 110px 145px;
    background: url(../image/Mask.png) no-repeat,left,cover, #000;
    // background: url(../image/image.png)no-repeat right;
    // @include fb();
}

.container {
    width: 1440px;
    // @include fb();
    margin: auto;
}

header {
    @include fb();
}

.logo {
    display: flex;
    align-items: center;



    .link-logo {
        margin-left: 11px;
        margin-top: 10px;
        @include font(24px, red, 700, $font-josefin);
        display: block;
    }

}

.menu {
    // @include fc();
    margin-left: 130px;}



    .menu-item-active,.menu-item {
        display: inline-block;
        margin: 0 25px;

        // margin-bottom: 25px;
        .menu-link {
            @include font (18px, $wh, 700, $font-open)
        }

        .menu-item-active {
            display: inline-block;
            margin: 0 25px;

            @include font (18px, $red, 700, $font-open)
        }
    }

    .picto {
        display: inline-block;
        // display: flex;
        // align-items: center;
        // margin-right: 60px;
        // margin: 0, 20px;
margin-right: 160px

        .picto1 {
            
        }
    }

    h1 {
        @include font(58px, $red, 700, $font-josefin);
        margin-top: 110px;

    }

    .txt-heder {
        @include font(20px, $red, 600, $font-open);
        margin-top: 30px;


    }

    .btn {
        margin-top: 65px;
        background: $red;
        width: 148px;


    }

    .btn-link {
        @include font(18px, $wh, 600, $font-open);
        display: block;
        padding: 16px 35px;

    }