//FONTS
$font-josefin:'Josefin Sans', sans-serif;
$font-open:'Open Sans', sans-serif;
$font-poppins:'Poppins', sans-serif;
$font-dm:'DM Sans', sans-serif;



//COLORS
$red: #FF4B32;
$wh:#FFFFFF;
$bg:#0D0402;